<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <title>Конечный автомат</title>
  </head>
  <body>
    <h2 class="text-center">Конечный автомат</h2>
    <h3 class="text-center">Вариант №10</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col" id="one">
                <h4><strong>G’({a, b}, {S, SE}, P, {SE, S})</strong></h4>
                <h4><strong>P:</strong></h4>
                <h4><strong>S → a</strong></h4>
                <h4><strong>SE → b | Sb | Sea | SEb</strong></h4>
            </div>
            <div class="col" id="two">
                <form action="{{ url_for('index') }}" method="post">
                    <div class="form-group">
                        <label for="typeword"><strong>Введите цепочку языка</strong></label>
                        <input type="text" class="form-control" id="typeword" name="word" required autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary">Оценить</button>
                </form>
            </div>
            <div class="w-100"></div>
            <div class="col" id="three">
                <img src="{{ url_for('static', filename='Screenshot_1.png') }}">
            </div>
            <br>
            <div class="col" id="four">
                {% if res %}
                {% for x in res %}
                <h5>{{ x }}</h5>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>